Package: com.rhld16.pinkyponk
Name: Pinky Ponk
Depends: mobilesubstrate, preferenceloader, ws.hbang.common (>= 1.14)
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: rhld16
Author: rhld16
Section: Tweaks
