<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>backgroundGradientColors</key>
			<array>
				<string>#449a6e</string>
				<string>#449a6e</string>
			</array>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBPackageNameHeaderCell</string>
			<key>packageIdentifier</key>
			<string>com.rhld16.pinkyponk</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Twitter</string>
			<key>user</key>
			<string>rhld16</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Config</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>me.rhld16.pinkyponk.prefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.rhld16.pinkyponk.prefs</string>
			<key>key</key>
			<string>pEnabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>me.rhld16.pinkyponk.prefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.rhld16.pinkyponk.prefs</string>
			<key>key</key>
			<string>pBlueTap</string>
			<key>label</key>
			<string>One-tap Bluetooth</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>me.rhld16.pinkyponk.prefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.rhld16.pinkyponk.prefs</string>
			<key>key</key>
			<string>pWifiTap</string>
			<key>label</key>
			<string>One-tap Wi-fi</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enabled “One-tap” on either Wi-Fi or Bluetooth means that when you press them in your Control Center they will fully switch off instead of going into standby mode.</string>
		</dict>
	</array>
	<key>title</key>
	<string>Pinky Ponk</string>
</dict>
</plist>
